# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
src-tauri/target/
src-tauri/gen/

# Logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.local

# Python cache
__pycache__/
*.pyc

# Secrets
.env
nexus_api_key.txt

# OS
Thumbs.db
